ul {
  list-style-type: none;
}

.chat {
  margin-top: 50px;
}
.chatMessage {
  background-color: #ffffff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  width: 34vw;
  display: table;
}
.box {
  background-color: #ffffff;
  text-align: left;
}

.imageHolder {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 50px;
}